<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">
    
        <header>

          {{ partial "nav.html" . }}

        </header>
    
        {{ partial "breadcrumbs.html" . }}
        <img src="/demoweb/img/services/Picture15.png" style="width: 100% ;"/>
        <div id="content">       
            <div class="container">
                <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <h3 class="b"> MOBILE SUPPORT <img src="/demoweb/img/services/Picture1.png"  style="width:20%"; height="auto"/></h3>
                            <h4>GIẢI PHÁP WIFI DOANH NGHIỆP</h4>
                            <p>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Thiết bị WiFi Ubiquiti chuyên dụng<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Giải pháp trọn gói hệ thống thiết bị & kênh truyền, giám sát, vận hành<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Hệ thống có tính dự phòng cao, độ khả dụng lớn<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Không chi phí đầu tư ban đầu<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Quản lý trực quan ở tất cả mọi nơi<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Mở rộng hệ thống WiFi không giới hạn (Mesh & Cloud Managed)<br> 
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Dễ dàng quảng bá các chương trình truyền thông nội bộ & quảng cáo sản phẩm của doanh nghiệp<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Ưu tiên tăng cường khả năng bảo mật doanh nghiệp và người sử dụng (WPA2 – Enterprise, Application, …)<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Cung cấp dịch vụ vận hành và giám sát 24/7/365<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Cắt giảm chi phí vận hành cho IT
                            </p>
                        </div> 
                        <div class="col-md-6 col-lg-6">
                            <h2 class="c">COMFORTABLE<br>SECURITY<br>FLEXIBLE</h2>
                            <p class="d">
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Quản lý trực quan mọi nơi (Centralized Management)<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Ngăn ngừa giảm thiểu các mối đe dọa từ Internet cho mạng nội bộ doanh nghiệp<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Tối ưu hóa hệ thống & kênh truyền sử dụng (chia tải, roaming, cân bằng tải WAN)<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Dự phòng hệ thống, dự phòng kênh truyền<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Phân tích lưu lượng hành vi người dùng<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Mở rộng hệ thống không giới hạn<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Trọn gói thiết bị và kênh truyền, giám sát, vận hành và xử lý sự cố<br> 
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Không chi phí đầu tư ban đầu<br>
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Thiết bị thay thế luôn sẵn sàng<br> 
                            <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Vận hành và giám sát 24/7/365<br>
                            </p>
                        </div>
                </div>    
                <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6" >
                            <img src="/demoweb/img/services/Picture4.png" style="width:50%"/>   
                        </div>  
                </div>
                <h3>ƯU ĐIỂM DỊCH VỤ <span style="font-family: 'Algerian', Helvetica, monospace;align-self: center; color: darkblue;font-weight: bold;font-size: xx-large;">MOBILE SUPPORT</span></h3>  
                <p>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Vượt lên mọi giải pháp WiFi truyền thống, Mobile Support có thể đáp ứng cả các nhu cầu nâng cao từ khách hàng<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Giải pháp WiFi hiện đại – nâng cao bảo mật, bảo vệ thông tin người dùng<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Mở rộng và quản lý hệ thống WiFi không giới hạn, dễ dàng thêm thiết bị mở rộng khu vực (diện tích) sử dụng dịch vụ khi có nhu cầu<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Sóng WiFi ổn định, tích hợp khả năng điều chuyển lưu lượng người dùng, cân bằng tải khi lượng truy cập WiFi tăng<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Dự phòng cao, hạn chế tối đa gián đoạn hoạt động của Doanh nghiệp<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Không chi phí đầu tư ban đầu. Chỉ trả phí cho phần dịch vụ và khu vực mà Doanh nghiệp sử dụng<br>
                    <img src ="/demoweb/img/services/tick1.png" alt=" "  style="width:3%; height: auto;" /> Tích hợp các tiện ích sẵn có: Marketing, Analytics, Application, ...<br> 
                </p>
                <p style="color: darkorange;margin: auto;font-size: initial;font-weight: bold; font-family: 'Courier New', Courier, monospace;">Với giải pháp toàn diện bao gồm công nghệ không dây, LAN, chuyển mạch, bảo mật, truyền thông và khả năng dự phòng, giờ đây bạn chỉ cần tập trung vào công việc kinh doanh của mình mà không phải lo lắng nhân sự vận hành, không mất chi phí đầu tư hệ thống, và hoàn toàn yên tâm về kết nối Internet của doanh nghiệp mà không cần quan tâm về nhà cung cấp dịch vụ Internet.</p>
                <div style="margin-left: auto;margin-right: auto;">
                    <img src="/demoweb/img/services/Picture2.jpg" style="width:80%;margin-left: auto;margin-right: auto;display: block"/>
                </div>
                <img src="/demoweb/img/services/Picture17.png" style="width:100%"/>
                    
                <div class="row">
                            
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <h3 class="b" style="font-size: xx-large;">MOBILE SUPPORT</h3>
                                </div>
                                <div class="col-md-4"></div>
                </div>
                <div class="table-responsive"> 
                <table style="width: 100%;">
                                    <tr>
                                    <th>Gói dịch vụ</th>
                                    <th>Mobile Support 01</th>
                                    <th>Mobile Support 02</th>
                                    <th>Mobile Support 03</th>
                                    <th>Mobile Support 04</th>
                                    <th>Mobile 4U</th>
                                    </tr>
                                    <tr>
                                    <td>Kênh truyền</td>
                                    <td>01</td>
                                    <td colspan="3">02</td>
                            
                                    <td>03</td>
                                    </tr>
                                    <tr>
                                    <td>Thiết bị vận hành</td>
                                    <td>01</td>
                                    <td>02</td>
                                    <td>03</td>
                                    <td>04</td>
                                    <td>05</td>
                                    </tr>
                                    <tr>
                                        <td>Số lượng client truy cập tối đa đồng thời</td>
                                        <td>60</td>
                                        <td>120</td>
                                        <td>180</td>
                                        <td>240</td>
                                        <td>300</td>
                                    </tr>
                                    <tr>
                                        <td>Triển khai, giám sát, vận hành, bảo trì, XLSC hệ thống</td>
                                        <td colspan="5">Trọn gói</td> 
                                    </tr>  
                                    <tr>
                                        <td>Tốc độ lưu lượng tối đa qua Internet</td>
                                        <td>60 Mbps</td>
                                        <td>80 Mbps</td>
                                        <td>95 Mbps</td>
                                        <td>120 Mbps</td>
                                        <td>200 Mbps</td>
                                    </tr> 
                                    <tr>
                                        <td>Kênh dự phòng</td>
                                        <td>0</td>
                                        <td colspan="3">01</td> 
                                        <td>02</td>
                                    </tr>
                </table>
                </div>            
                            
                <div class="row">
                                <div class=" col-md-3 col-lg-3">
                                        <a>
                                        <img src="/demoweb/img/services/Picture12.png" style="width:90%"/> <br>
                                        </a>
                                </div>
                                <div class="col-md-9 col-lg-9">
                                <h2 class="f">CAM KẾT CHẤT LƯỢNG DỊCH VỤ</h2>
                                <p>
                                    <img src ="/demoweb/img/services/1.png" alt=" "  style="width:5%; height: auto;" /> Đảm bảo kết nối 99,99%.<br>
                                    <img src ="/demoweb/img/services/2.png" alt=" "  style="width:5%; height: auto;" /> Bảo vệ và bảo mật thông tin người dùng<br>
                                    <img src ="/demoweb/img/services/3.png" alt=" "  style="width:5%; height: auto;" /> Giám sát chủ động 24x7<br>
                                    <img src ="/demoweb/img/services/4.png" alt=" "  style="width:5%; height: auto;" /> Thời gian khôi phục dịch vụ <= 4h<br>
                                    <img src ="/demoweb/img/services/5.png" alt=" "  style="width:5%; height: auto;" /> Thời gian kỹ thuật có mặt tại địa chỉ khách hàng trong trường hợp mất dịch vụ hoàn toàn <= 3h<br>
                                </p>
                                </div>
                </div>
                            
                <div class="row">
                                <div class=" col-md-3 col-lg-3">
                                        <a>
                                        <img src="/demoweb/img/services/Picture13.png" style="width:100%"/> 
                                        </a>
                                </div>
                                <div class=" col-md-9 col-lg-9">
                                <h2 class="f">SỰ SẴN SÀNG CỦA MOBILE SUPPORT</h2>
                                <p>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Vượt lên mọi giải pháp WiFi truyền thống, Mobile Support có thể đáp ứng cả các nhu cầu nâng cao của doanh nghiệp<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Tốc độ gói dịch vụ linh hoạt từ 40Mbps lên đến hàng trăm Mbps<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Hạ tầng kết nối đến mạng Internet toàn cầu hoàn toàn sử dụng cáp quang<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> "Giải pháp dịch vụ trọn gói, linh hoạt theo nhu cầu”, bao gồm: hệ thống thiết bị và kênh truyền; nhân sự  IT phục vụ công tác quản lý, vận hành, giám sát & xử lý sự cố hệ thống. Doanh nghiệp không tốn chi phí đầu tư ban đầu, không tốn nhân sự cho công tác vận hành hệ thống, chỉ trả phí cho phần dịch vụ sử dụng<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Phạm vi phủ sóng rộng, tín hiệu sóng ổn định, hoạt động hiệu quả trên 2 băng tần 2.4GHz và 5GHz. Hệ thống có khả năng chịu tải cao, đảm bảo phục vụ số lượng lên đến hàng trăm người dùng đồng thời thông qua các mạng WiFi có khả năng roaming và chia tải tự động<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Hệ thống điều khiển cloud cho phép quản trị giới hạn về tốc độ, thời gian kết nối đối với từng mạng WiFi hoặc từng người dùng<br>
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Dự phòng về kênh truyền và thiết bị, giảm thiểu thời gian gián đoạn của doanh nghiệp<br> 
                                    <img src ="/demoweb/img/services/tick2.png" alt=" "  style="width:3%; height: auto;" /> Doanh nghiệp có thể tự giám sát hoạt động của các thiết bị thông qua cloud chuyên dụng<br>
                                </p>
                                </div>
                </div>
                        
                <p>
                    <img src="/demoweb/img/services/Picture16.jpg" alt=" " style="width:80%;margin-left: auto;margin-right: auto;display: block" /> 
                </p>
                
                <h4 class="a">Tính năng cơ bản (không tính phí)</h4>
                        
                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/3cb.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">Phân nhóm và giám sát người dùng
                            </p>
                        </div>
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/2cb.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Mở rộng và quản lý hệ thống linh hoạt tuỳ theo nhu cầu                      
                            </p>
                        </div>
                </div>   

                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/1cb.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Quản lý tốc độ, thời gian truy cập của người dùng
                            </p>
                        </div>
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/4cb.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Chuyển đổi kết nối giữa các AP không mất kết nối mạng, người dùng không bị mất kết nối Internet khi chuyển kết nối giữa các AP
                            </p>
                        </div>
                </div>
        
                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/5cb.png" style="width:100%" /> </div>
                            <div class="col-xs-8 col-md-4 col-lg-4">
                                <p style="vertical-align: middle; height: 100px;">
                                    Cách thức đăng nhập cơ bản: không cần xác thực, sử dụng trang chào và click vào nút hoặc nhập mật khẩu, voucher để kết nối, đăng nhập bằng tài khoản Facebook, …
                                </p>
                            </div>
                            <div class=" col-md-6 col-lg-6"></div>
                </div>
                
                <h4 class="a">Tính năng nâng cao (tính phí)</h4>
                    
                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/loa.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p >
                                Hiển thị trang chào và người dùng phải xem video, banner, thực hiện khảo sát, điền thông tin như email, số điện thoại, phản hồi, đánh giá về dịch vụ… Sau khi hoàn thành người dùng mới được kết nối Internet
                            </p>
                        </div>
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/loa2.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p>
                                Hiển thị fanpage Facebook, người dùng thực hiện check-in địa điểm, chia sẻ hình ảnh hoặc like fanpage để kết nối Internet
                            
                            </p>
                        </div>
                </div> 

                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/loa3.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Tích hợp với các hệ thống đang vận hành của doanh nghiệp như POS, CRM, Email/SMS marketing,…
                            </p>
                        </div>
                        <div class="col-xs-4 col-md-2 col-lg-2"><img src="/demoweb/img/services/loa4.png" style="width:100%" /> </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Phân tích sự hiện diện của khách hàng: tổng số lượt khách, tần suất khách hàng đi/đến, tỉ lệ khách hàng cũ/mới
                            </p>
                        </div>
                </div>

                <div class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2">
                            <img src="/demoweb/img/services/loa5.png" style="width:100%" />
                        </div>
                        <div class="col-xs-8 col-md-4 col-lg-4">
                            <p style="vertical-align: middle; height: 100px;">
                                Thay đổi banner theo chương trình của doanh nghiệp
                            </p>
                        </div>
                        <div class=" col-md-4 col-lg-4">
                            <img src="/demoweb/img/services/Picture14.png" style="width:100%" /> 
                        </div>
                        <div class="col-md-2 col-lg-2"></div>   
                </div>

            </div> <!--div container-->
        </div> <!--div content-->
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->
    
    {{ partial "scripts.html" . }}

  </body>
</html>
