{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        
          
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
                </div>
                
                <!-- <div class="row">
                  <div class="col-md-4 col-lg-4">
                    <img src= "img/clients/Logo-Cisco.png" style="width:100px " alt="Picturecisco" href= "https://www.cisco.com/c/vi_vn/index.html"/>

                  </div>
                  <div class="col-md-4 col-lg-4">
                    <img src= "img/clients/Logo-Cisco.png" style="width:100px " alt="Picturecisco" href= "https://www.cisco.com/c/vi_vn/index.html"/>

                  </div>
                  <div class="col-md-4 col-lg-4">
                    <img src= "img/clients/Logo-Cisco.png" style="width:100px " alt="Picturecisco" href= "https://www.cisco.com/c/vi_vn/index.html"/>

                  </div>
                </div> -->
               
                
                <ul class="owl-carousel customers">
                  
                  {{ range .Site.Data.clients }}
                    <li class="item" title="{{ .name }}">
                        {{ if .url }}
                          <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                  
                </ul>
                <!-- /.owl-carousel -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
