<div class="container" id="contact" style="background: white;">
         
            <section>

              <div>
                  <h2> <img src="/demoweb/img/services/question_test.png" style="width: 7%;"/>Chúng tôi có thể giúp được gì cho bạn!</h2>
                  <h4>Anh/chị có bất kỳ câu hỏi, thắc mắc, hoặc phản hồi nào về sản phẩm dịch vụ của chúng tôi cũng như lĩnh vực CNTT, tích hợp, smart-city,… Hãy liên hệ cho chúng tôi!</h4>
                    <h5><b>Điện thoại: (84 – 236) 357 5788</b></h5>
                    <h5><b>Email: support@tpsc.vn</b></h5>
                    <h5><b>Địa chỉ: 49 Lê Quý Đôn, P. Bình Thuận, Q. Hải Châu, TP. Đà Nẵng</b></h5>
              </div>
                <div id="contact-message">
                    <h4 class="mt-4"> <br>Giờ làm việc</h4>
                    <div class="row">
                        <div class="col-md-7">
                            <table class ="table table-sm opening-hours-table">
                            <tbody>
                                <tr>
                                    <td class="day front-weight-bold"> Thứ hai - Thứ sáu </td>
                                    <td>Buổi sáng:</td>
                                    <td class="opens">08:00 - 12:00</td>
                                    <td>Buổi chiều:</td>
                                    <td class="opens">13:30 - 17:30</td>
                                </tr>
                                <tr>
                                    <td class="day front-weight-bold">Thứ bảy</td>
                                    <td>Buổi sáng:</td>
                                    <td class="opens">08:30 - 12:00</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                            </tbody>    
                            </table>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>

               

            </section>

        
       
        
        
  
    <!-- /.row -->
</div>

<!-- {{ partial "map.html" . }} -->
