{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
        {{ if eq (mod $index 5) 0 }}
        <div class="heading text-center">
            <h2>DỊCH VỤ CUNG CẤP</h2>
        </div>
        <p class="lead">
            Tps mang đến cho khách hàng các sản phẩm, dịch vụ viễn thông, các giải pháp CNTT trên nền tảng hạ tầng và công nghệ
            tốt nhất.
        </p>
        <div class="col-md-12">
            
            <div class="row">
                
                {{ end }}
                <div class="col-md-6">
                    
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                            {{ end }}
                            <div class="icon">
                                <i class="{{ .icon }}"></i>
                            </div>
                            {{ with $element.url }}
                        </a>
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                    
                </div>
                {{ if or (eq (mod $index 8) 4) (eq $index (sub (len $.Site.Data.features) 0 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}