<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>

            {{ .Site.Params.about_us | safeHTML }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6">

            {{ if isset .Site.Params "recent_posts" }} {{ if .Site.Params.recent_posts.enable }}
            <h4>{{ i18n "recentPosts" }}</h4>

            <div class="blog-entries">
                {{ range first 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                <div class="item same-height-row clearfix">
                    <div class="image same-height-always">
                    <!--<a href="{{ .Permalink }}"> -->  
                        <!--</a>-->
                          {{ if isset .Params "banner" }}
                            <img src="{{ .Params.banner | relURL }}" class="img-responsive" alt="{{ .Title }}">
                          {{ else }}
                            <img src="{{ "img/tamnhin.png" | relURL }}" class="img-responsive" alt="{{ .Title }}">
                          {{ end }}
                    </div>
                    <div >
                        <p>Trở thành nhà cung cấp dịch vụ viễn thông và CNTT hàng đầu Việt Nam, mang lại sức mạnh kết nối cho cộng đồng doanh nghiệp và doanh nhân Việt Nam. Hợp tác kinh doanh chỉ thành công khi các bên cùng có lợi ích. Các cam kết phải được thực hiện là nền tảng của hợp tác lâu dài.</p>
                    </div>
                </div>
                {{ end }}
            </div>

            <hr class="hidden-md hidden-lg">
            {{ end }} {{ end }}

        </div>
        <!-- /.col-md-4 -->

        {{ if isset .Site.Params "address" }}
        <div class="col-md-4 col-sm-6">

          <h4>{{ i18n "contactTitle" }}</h4>

            {{ .Site.Params.address | safeHTML }}

            <a href="/demoweb/contact" class="btn btn-small btn-template-main">{{ i18n "contactGoTo" }}</a>

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">

            {{ if isset .Site.Params "copyright" }}
            <p class="pull-center">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            
        
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
