<div class="container" id = "introduce" style = "text-align: center">
    <section>
        <div>
            <h2 style="border-bottom-style: outset;">GIÁ TRỊ CỐT LÕI</h2>
        </div>
        <div class="row" >
            <div class="col-md-2">
                <i class="fa fa-user" aria-hidden="true" style="font-size: -webkit-xxx-large"></i>
                <h4>
                    TRÁCH NHIỆM
                </h4>
                <p>Trách nhiệm với khách hàng, với công việc và với đồng nghiệp.</p>
            </div>

            <div class="col-md-2">
                <i class="fa fa-bullhorn" aria-hidden="true" style="font-size: -webkit-xxx-large"></i>
                <h4>
                    ĐỔI MỚI
                </h4>
                <p>Lấy đổi mới và hiệu quả là thước đo của hoạt động.</p>
            </div>

            <div class="col-md-4">
                <img src="/demoweb/img/pic/doimoi.jpg" alt="" style="width: 100%"/>
            </div>
            <div class="col-md-2">
                <i class="fa fa-handshake" aria-hidden="true" style="font-size: -webkit-xxx-large"></i>
                <h4>
                    TẬN TÂM
                </h4>
                <p>Tận tâm và chuyên nghiệp luôn đồng hành với công việc hằng ngày.</p>
            </div>

            <div class="col-md-2">
                <i class="fa fa-certificate" aria-hidden="true" style="font-size: -webkit-xxx-large"></i>
                <h4>
                    MÔI TRƯỜNG
                </h4>
                <p>Môi trường làm việc minh bạch và cởi mở.</p>
            </div>
        </div>

        <div class= " background-intro">
            
            <div class="row">
                <div class="col-md-6">
                    <h2 style="border-bottom-style: outset;">LỊCH SỬ HÌNH THÀNH</h2>
                    <p style="color:beige;">TPs được thành lập bởi các thành viên có nhiều năm kinh nghiệm trên thị viễn thông Việt Nam. Là nhà
                    cung cấp các dịch vụ viễn thông và CNTT chuyên nghiệp, cam kết mang lại chất lượng dịch vụ tốt nhất cho
                    khách hàng. Với đội ngũ bao gồm 100+ chuyên gia, kỹ sư viễn thông, CNTT. Hạ tầng đồng bộ, đội ngũ sales và
                    pre-sales chuyên nghiệp. Mang đến cho khách hàng các sản phẩm, dịch vụ viễn thông cơ bản, các giải pháp
                    CNTT trên nền tảng hạ tầng và công nghệ tốt nhất.</p>
                </div>

                <div class="col-md-6">
                    <h2 style="border-bottom-style: outset;">TẦM NHÌN VÀ SỨ MỆNH</h2>
                    <p style="color: beige;">Trở thành nhà cung cấp dịch vụ viễn thông và CNTT hàng đầu Việt Nam, mang lại sức mạnh kết nối cho cộng đồng doanh
                    nghiệp và doanh nhân Việt Nam.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h2 style="border-bottom-style: outset;">TRIẾT LÝ HOẠT ĐỘNG</h2>
                <h5  style="float: left; color: #000000;font-size: large;"  >Khách hàng là trung tâm của mọi hoạt động.</h5>
                <h5 style="float: left; color: #000000;font-size: large;">TPs lấy hiệu quả của khách hàng làm mục hoạt động.</h5>
                <h5 style="float: left; color: #000000;font-size: large;">Khách hàng chỉ trả Nền khi thực sự hài lòng.</h5>
                <h5 style="float: left; color: #000000;font-size: large;">Hợp tác kinh doanh chỉ thành công khi các bên cùng có lợi ích.</h5>
                <h5 style="float: left; color: #000000;font-size: large;">Các cam kết phải được thực hiện là nền tảng của hợp tác lâu dài.</h5>
            </div>
            <div class="col-md-6">
                <img src="../img/pic/trietlyhoatdong.png" width="20%" alt=""/>
            </div>
        </div>
        <div class="background-sumenh">
            <h2 style="font-size: xxx-large;">SỨ MỆNH</h2>
            <p style="font-size: xx-large;color: ivory;font-family: cursive;">TPs mang sức mạnh công nghệ đến với cộng đồng và doanh nghiệp, góp phần thúc đẩy sự phát triển bền vững của đất nước.</p>
        
        </div>
      
    </section>
</div>