{{ if .Site.Params.topbar.enable }}
<div id ="top" class="navbar-affixed-top" data-spy="affix" data-offset-top="0">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        
        {{ .Site.Params.topbar.text | safeHTML }} 
     </div>
     <div class="col-xs-7">
       <div class="social">
         {{ range .Site.Menus.topbar.ByWeight }}
         <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
         {{ end }}
       </div>
     </div>

    </div> <!--stop class row-->
  </div> <!--stop class container-->
  <div class="navbar navbar-default yamm" role="navigation" id="navbar">
  

  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand home" href="{{ "/" | relURL }}">
            <img src="{{ .Site.Params.logo | relURL }}" alt="{{ .Title }} logo" class="hidden-xs hidden-sm">
            <img src="{{ .Site.Params.logo_small | relURL }}" alt="{{ .Title }} logo" class="visible-xs visible-sm">
            <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
        </a>
        <div class="navbar-buttons">
            <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">{{ i18n "navToggle" }}</span>
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
    </div>
    <!--/.navbar-header -->

    <div class="navbar-collapse collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
          {{ $topLevel := replace .URL "/" "" }}
          <li class="dropdown{{ if eq $current.RelPermalink .URL | or (eq $current.Type $topLevel) | or (and (eq (default (trim .URL "/") .Identifier) "services") (in (slice "taxonomy" "taxonomyTerm") $current.Kind)) }} active{{ end }}">
            {{ if .HasChildren }}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end  }}
          </li>
          {{ end }}
        </ul>
    </div>
    <!--/.nav-collapse -->
  </div> <!--stop container-->
  </div> <!--div2-->
</div> <!--div1-->
{{ end }}
