{{ if isset .Site.Params "why" }}
{{ if .Site.Params.why.enable }}
{{ if gt (len .Site.Data.why) 0 }}
<section class="bar background-white">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>LÝ DO LỰA CHỌN TPS</h2>
                </div>

                <p class="lead">
                    Dịch vụ trọn gói trải rộng ngoài biên giới với tiêu chuẩn quốc tế, Tps mang đến dịch vụ thấu hiểu từ trái tim.
                </p>

                <!-- *** WHY *** -->

                <div class="row">
                
                    
                    <div class="col-md-3">
                        <img src="img/pic/tps40.png" alt="" width="60%"/><br>
                        <h3>Chăm sóc khách hàng chuyên biệt</h3>
                        <p>Thấu hiểu khách hàng, Tps chăm sóc, hỗ trợ tuỳ biến và riêng biệt cho từng lịch vực hoạt động của doanh nghiệp, tổ chức.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="img/pic/tps41.png" alt="" width="60%" /><br>
                        <h3>Hạ tầng không biên giới</h3>
                        <p>Tps có khả năng cung cấp dịch vụ chủ động trong khu vực châu Á và toàn cầu với mạng lưới kết nối đối tác quốc tế.</p>
                    
                    
                    </div>
                    <div class="col-md-3">
                        <img src="img/pic/tps42.png" alt="" width="60%" /><br>
                        <h3>Tuân thủ các tiêu chuẩn quốc tế</h3>
                        <p>Cung cấp dịch vụ chất lượng cao, Tps cam kết tuân thủ các tiêu chuẩn cao nhất về hạ tầng, dịch vụ quốc tế.</p>
                    
                    
                    </div>
                    <div class="col-md-3">
                        <img src="img/pic/tps43.png" alt="" width="60%" /><br>
                        <h3>Dịch vụ tích hợp trọn gói</h3>
                        <p>Tps cung cấp dịch vụ tích hợp Viễn thông và CNTT cho từng đặc thù doanh nghiệp.</p>
                    
                    
                    </div>
                    
                </div>
                <!-- /WHY -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>
       
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}